@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    padding: 0rem;
    margin: 0.2rem;
    box-sizing: content-box;
}
body{
    background-color: rgb(223, 241, 242);
    font-family: 'Rubik', sans-serif;
}

h1{
    color: rgb(82, 181, 181);
    font-family: 'Rubik', sans-serif;
}
h3{
    color:rgb(15, 133, 250);
    text-align: left;
}

h4{
    color: rgb(3, 8, 34);
}
p{
    color: rgb(17, 39, 94);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
/*------------------- LISTAS ------------------*/
ol li{
    color:lightseagreen;
    font-family: 'Rubik', sans-serif;
}

ul li{
    color: lightseagreen;
    font-family: 'Rubik', sans-serif;
}
/*----------------- TABLAS ----------------*/
th{
    color: rgb(213, 97, 164);
    background-color: rgb(62, 117, 237);
    font-family: 'Rubik', sans-serif;
}
td{
    background-color: rgb(102, 93, 93);
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-family: 'Rubik', sans-serif;
    color: rgb(37, 175, 169);
}

/*------------- Fuentes Formularios ------------*/
.fuente1{
    color: rgb(10, 49, 119);
    font-family: 'Rubik', sans-serif;
}
.fuente2{
    color: rgb(13, 87, 87);
    font-size: 16px;
}
.fuente3{
    color: rgb(141, 9, 9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.fuente4{
    color: lightblue;
}

.fuente5{
    color: wheat;
}

/*--------------- HEADER ----------------*/
header{
    background-image: url("/img/banner3.jpg");
    background-color: lightblue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
}

.header__nav{
    overflow: hidden;
    padding: 10px;
    list-style: none;
    font-size: 0rem;
    position: inherit;
}

.header__nav--principal li{
    display:inline-block;
    float: left;
}

.header__nav--principal a{
    text-decoration: none; /*eliminamos el subrayado*/
    text-transform: uppercase;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: rgb(252, 252, 252);
    padding: 0.6rem;
    background-color: rgb(109, 124, 124);
}

#arriba a{
    background-color: rgb(117, 133, 131);
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color:white;
    float: right;
}
/* ------------ FOOTER ------------ */
footer{
    background-image: url("/img/colorFooter.jpg");
    height: 20vh;
    background-size: cover;
    background-position: center;
    scroll-margin-block-end: unset;
    position:static;
    background-color: rgb(68, 68, 80);
    padding: 1rem;
    clear: both;
}

footer a{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: white;
    
}

footer li{
    text-decoration: none;
    list-style: none;
    float: right;
}
footer button{
    background-color: teal;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
}

/*------- GRRID Productos -------*/

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(100px, auto);
    gap:0.5em;
       
}    
.grid > div{
    background-color: rgb(238, 183, 211);
    padding: 1em;
    align-items: stretch;
    justify-content: stretch;
    
}
.grid > div:hover{
    border: 1px solid rgb(175, 123, 201) ;

}

.categoria1{
    align-self: center;
}

.categoria2{
    align-self: center;
}

.categoria3{
    align-self: center;
}

.categoria4{
    align-self: center;
}

/*----------FlexBox Ofertas------------*/

.ofertaPrincipal{
    display: flex;
    background-color: rgb(62, 147, 175);
    align-items: center;
}

.ofertaPrincipal img{
    width: 50%;
}


.texto{
    width: 50%;
    color: rgb(200, 205, 214);
    font-size: 1.5rem;
    padding:0.5rem;
    margin: 0.5rem;
}

.ofertas{
    display: flex;
    flex-direction: row;
    background-color:palevioletred;
    align-items: center;
    text-align: center;
}

.ofertas img{
    width: 200px;
    height: 200px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
}